body {
    background-size: auto;
    background-repeat: repeat;
    background-color: #F7C2F8;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem 12 rem;
}
header img {
    height: 50px;
}
header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
}

nav {
    text-align: right;

}

header>p {
    float: left;
    color: rgb(109, 57, 109);
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li {
    display: inline-block;
    margin: 20px;

}

nav ul li a {
    color: rgb(109, 57, 109);
    text-decoration: bold;

}

nav ul {
    float: right;

}


main section:nth-child(1) {
    margin-top: 3rem;
    padding: 2rem;

}

main section:nth-child(1) h3 {
    color: rgb(120, 32, 192);
}

main section:nth-child(1) article {
    background-color: rgba(180, 30, 230, 0.19);
    color: white;
    width: auto;
    padding: 2rem;
}




.footer1 {
    color: #7820c0;
    padding: 1rem;
    height: 30px;
    background-color: aliceblue;
    text-align: center;

}

.footer2 {

    background-color: #F7C2F8;
    color: #7820c0;

}

.footer2 i {
    text-align: left;
}

.footer2 a b {
    text-align: right;
    padding-left: 875px;
}
